<%= form_for @team do |f| %>
  <div class="span12">
    <div class="row">
      <div class="span5">
        <%= f.label :name %><%= f.text_field :name, :size => 64 %><br />
        <%= f.label :number %><%= f.number_field :number %><br />
        <%= f.label :clean_up_week_number %><%= f.number_field :clean_up_week_number %><br />
      </div>
      <div class="span5">
        <%= f.label :description %><%= f.text_area :description, :cols => 100, :rows => 9 %><br />
        <%= f.hidden_field :season_id %>
        <%= f.submit :id => "commit" %>
      </div>
    </div>
  </div>
<% end %>
