<%= form_for @season do |f| %>
  <div class="span12">
    <div class="row">
      <div class="span5">
        <%= f.label :name %><%= f.text_field :name, :size => 64 %><br />
        <%= f.label :start_date %><%= f.datetime_select :start_date %><br />
        <%= f.label :houses %><%= f.number_field :houses, :in => 1..20 %><br />
        <%= f.label :time_slots %><%= f.number_field :time_slots, :in => 1..24 %><br />
        <%= f.label :handicap_calculation %><%= f.text_field :handicap_calculation, :size => 64 %><br />
      </div>
      <div class="span5">
        <%= f.label :description %><%= f.text_area :description, :cols => 100, :rows => 13 %><br />
        <%= f.submit :id => "commit" %>
      </div>
    </div>
  </div>
<% end %>
