<table class="table table-condensed">
  <tr>
    <th>Actions</th>
    <th>Season</th>
    <th>Teams</th>
    <th>Houses</th>
    <th>Time Slots</th>
    <th>Start Date</th>
    <th>Handicap Calculation</th>
    <th>Schedule</th>
    <th>Results</th>
  </tr>
  <% seasons.each do |season| %>
    <tr id="season_<%=season.id%>">
      <td>
        <%= link_to 'Delete', season, :method => 'delete', :confirm => 'Are you sure you want to delete this Season?' %> |
        <%= link_to 'Edit', edit_season_path(season) %>
      </td>
      <td><%= season.name %></td>
      <td>has <%= link_to season.teams.count, season_teams_path(season), :alt => 'View Team(s)' %> team(s)</td>
      <td><%= season.houses %></td>
      <td><%= season.time_slots %></td>
      <td><%= season.start_date %></td>
      <td><%= season.handicap_calculation %></td>
      <td><%= link_to 'View Schedule', season_matches_path(season) %></td>
      <td><%= link_to 'View Big Board', newbig_board_path(season.id) %></td>
    </tr>
  <% end %>
</table>