<%= form_for @shooter do |f| %>
  <div class="span12">
    <div class="row">
      <div class="span5">
        <%= f.label :casper %><%= f.check_box :casper %><br />
        <%= f.label :position %><%= f.number_field :position %><br />
        <%= f.label :name %><%= f.text_field :name, :size => 64 %><br />
        <%= f.label :handicap_yardage %><%= f.number_field :handicap_yardage %><br />
      </div>
      <div class="span5">
        <%= f.label :description %><%= f.text_area :description, :cols => 100, :rows => 9 %><br />
        <%= f.hidden_field :team_id %>
        <%= f.submit :id => "commit" %>
      </div>
    </div>
  </div>
<% end %>
